/* Tickets */

.ticketlist {
    width: 100%;
}

    .ticketlist tr {
        background-color: #eee;
        border: 1px solid #ccc;
    }
    
    .ticketlist tr.header {
        background-color: transparent;
        border: none
    }
    
        .ticketlist th {
            padding: 5px;
        }
    
        .ticketlist td {
            padding: 10px;
        }
    
        .ticketlist td a {
            text-decoration: none;
        }
        
        .ticketlist td span {
            color: #999;
            font-size: 75%;
            font-style: italic;
        }

/* Create Ticket */

.radio {
    width: 100px;
    margin: 5px;
    padding: 6px;
    color: #fff;
    background-color: #205d99;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 2px #aaa;
    -webkit-box-shadow: 1px 1px 2px #aaa;
    box-shadow: 1px 1px 2px #aaa;
}

input[name=title] {
    width: 500px;
}

textarea[name=body] {
    width: 600px;
    height: 200px;
}