/* Tickets */

.ticketlist {
    width: 100%;
}

    .ticketlist tr {
        background-color: #eee;
        border: 1px solid #ccc;
    }
    
    .ticketlist tr.header {
        background-color: transparent;
        border: none;
    }
    
        .ticketlist th {
            padding: 5px;
        }
    
        .ticketlist td {
            padding: 10px;
        }
    
        .ticketlist td a {
            text-decoration: none;
        }
        
        .ticketlist td span {
            color: #999;
            font-size: 75%;
            font-style: italic;
        }
    
    .ticketlist tr.spacer {
        background-color: transparent;
        border: none;
    }
    
        .ticketlist tr.spacer td {
            padding: 3px;
        }
    
.label {
    color: #000 !important;
    font-style: normal !important;
    font-size: 12px;
    padding: 1px 3px;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.label.bug {
    color: #fff !important;
    background-color: #F21818;
    border: 1px solid #C21313;
}
        
.label.feature {
    color: #fff !important;
    background-color: #2267F2;
    border: 1px solid #1B53C2;
}


.comment {
    border: 1px solid #eee;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 5px;
}

/* Create Ticket */

.radio {
    width: 100px;
    margin: 5px;
    padding: 6px;
    color: #fff;
    background-color: #205d99;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 2px #aaa;
    -webkit-box-shadow: 1px 1px 2px #aaa;
    box-shadow: 1px 1px 2px #aaa;
}

input[name=title] {
    width: 500px;
}

textarea[name=body] {
    width: 600px;
    height: 200px;
}